@import "tailwindcss";

:root {
  --background: #eff1ed;
  --foreground: #1b4332;
  --accent: #a1cca5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fefae0;
}

::-webkit-scrollbar-thumb {
  background: #a1cca5;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b4332;
}
